body
{
  padding: 0;
  margin: 0;
}

h4
{
  margin: 5px;
}

.metro-form
{
  /*visibility: hidden;*/
  background: rgba(0,0,0,0.5);
  width: 50vw;
  /*height: 50vh;*/
  position: fixed;
  top: 10vh;
  left: 25vw;
}

.metro-body
{
  height: 100%;
  padding: 10px;
}

.ui-icon
{
  margin: 10px;
  cursor: pointer;
  width: 72px;
  text-align: center;
}